@font-face {
    font-family: "oswald";
    src: url(fonts/Oswald/static/Oswald-Regular.ttf);
    font-weight: 500;
}

html {
    background-color: burlywood;
}

h1 {
    color: rgb(95, 160, 122);
    font-family: oswald;
}

img {
   
    max-width: 100%;
}

.Shadow {
    box-shadow: 10px 10px 25px black;
    
}